# Datasets & Large Archives
dataset/
raw_plantvillage/
raw_plantdoc/
*.zip
*.tar.gz
*.cache

# Python environment
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
venv/
env/

# Credentials
.kaggle/
kaggle.json
access_token
